<p>See the comments below.</p>

<p>Add a comment with a JavaScript payload. Again … you want to call the webgoat.customjs.phoneHome function.</p>

<p>As an attacker (offensive security), keep in mind that most apps are not going to have such a straight-forwardly named compromise. Also, you may have to find a way to load your own JavaScript dynamically to fully achieve goals of extracting data.</p>

<form action="/xss/comment" method="post">
	<input type="text" id="xsscomment" name="xsscomment">
	<input type="submit" value="Submit">
</form>

<p>Watching in your browser’s developer tools or your proxy, the output should include a value starting with 'phoneHome Response is …" Put that value in below to complete this exercise. Note that, each subsequent call to the phoneHome method will change that value. You may need to ensure you have the most recent one.</p>

<form action="/xss/commentresponse" method="post">
	<input type="text" id="xsscommentresponse" name="xsscommentresponse">
	<input type="submit" value="Submit">
</form>
