<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Test{% endblock %}</title>
	</head>
	<body>
		<h1> PyGoat </h1>
		{% block lessons %}
		<ul>
			{% for lesson in lessons %}
  			  <li><a href="/lessons/{{ lesson.url }}">{{ lesson.name }}</a></li>
			{% endfor %}
			<li><a href="/logout">Log Out</a></li>
		</ul>
		{% endblock %}

		<div id="content">{% block content %}{% endblock %}</div>

		{% with messages = get_flashed_messages() %}
		  {% if messages %}
    		    <ul class=flashes>
		      {% for message in messages %}
      			<li>{{ message }}</li>
    		      {% endfor %}
   		    </ul>
  		  {% endif %}
		{% endwith %}
	</body>
</html>
