{% extends "header.html" %}
{% block title %}Login{% endblock %}
{% block content %}
	<h1>PyGoat Login</h1>
	<div class="login">
	{% if login %}
		<form action="/login" method="post">
	{% else %}
		<form action="/register" method="post">
	{% endif %}
		
		<label for="username">Username:</label><br>
		<input type="text" id="username" name="username"><br>
		<label for="password">Password:</label><br>
		<input type="password" id="password" name="password"><br>
		<input type="submit" value="Submit">
		</form>
	<p>
	{% if login %}
		Don't have an account? <span><a href="/register" style="text-decoration: underline;">Register now</a></span>
	{% else %}
		Account not working? Try <span><a href="/login" style="text-decoration: underline;">logging in</a></span>
	{% endif %}
	</p>
	</div>
{% endblock %}
{% block lessons %}{% endblock %}
