{% extends "header.html" %}
{% block title %}Login{% endblock %}
{% block content %}
	<form action="/login" method="post">
		<label for="username">Username:</label><br>
		<input type="text" id="username" name="username"><br>
		<label for="password">Password:</label><br>
		<input type="password" id="password" name="password"><br>
		<input type="submit" value="Submit">
	</form>
	<p>
		Defaults are username 'admin' and password 'password'.
		Don't have an account? <span><a href="/register">Register now</a></span>
	</p>
{% endblock %}
{% block lessons %}{% endblock %}
