{% extends "header.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Completed</th>
      <th scope="col">Attempts</th>
      <th scope="col">Time spent(in seconds)</th>
    </tr>
  </thead>
  <tbody>
  {% for lesson in lessons | sort(attribute='difficulty') %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ lesson.name }}</td>
      {% if lesson.completable %}
      <td>{{ lesson.completed }}</td>
      <td>{{ lesson.attempts }}</td>
      <td>{{ lesson.seconds }}</td>
      {% else %}
      <td>N/A</td>
      <td>N/A</td>
      <td>N/A</td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
