/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */
body {
    /* font-family: 'Poppins', sans-serif; */
    background: #fafafa;
}

p {
    /* font-family: 'Arial', sans-serif; */
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #000000;
}

h1 {
    /* font-family: 'Poppins', sans-serif; */
    text-align: center;
    color: #376f9e;
}

a,
a:hover,
a:focus {
    color: black;
    text-decoration: none;
    transition: all 0.3s;
}

.btn {
    background-color: #376f9e;
    padding: 1px;
}

#resetLesson {
    width: max-content;
    font-size: 15px;
    position: relative;
    top: 20px;
    left: 145px;
    color: #ffffff;
}

#logo-img {
    height:110px; 
    width:110px; 
    position: relative; 
    left: 120px; 
    top: -70px;
}

/* 
    Sidebar style
*/

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #376f9e;
    /* color: #ffd343; */
    color: #ffffff;
    transition: all 0.2s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #376f9e;
}

#sidebar ul p {
    color: #000000;
    padding: 10px;
    list-style-type: none;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.login {
	text-align: center;
}

.logout-button {
    position: fixed; 
    bottom:15px; 
    left: 35px; 
    font-size: 20px; 
    list-style-type: none; 
    margin:0px; 
    padding:0px;
}

.logout-button:hover {
    background: #fff;
}

.dropdown-menu {
    padding: 0px;
}


/*
    Content style
*/

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0s;
}

/* 
    Mediaqueries
*/

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}