<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PyGoat</title>

    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/libraries/react.development.js"> </script>
    <script src="../static/js/libraries/react-dom.development.js"> </script>
    <script src="../static/js/index.js" type="module" > </script>
    
</head>
<body> 
    <div id="root">
        <!-- page renders here -->
    </div>
    
    <div class="hide">
        <div id="id">{{name}}</div>
        <div id="feedback">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class='server-feedback'>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</body>
</html>

